* {
    box-sizing: border-box;
}


body {                                                          /*Бадя*/
	text-align: center;
	padding: 10px;
    background: url(img/fon1.jpg) center no-repeat;
}


.container {                                                    /*контейнер*/
    width: 100%;
    height: 90vh;
    
    
}
h1 {                                                            /*заголовок*/
    color: #38b0f5;
    font-family: 'Koulen', cursive;
    letter-spacing: 7px;
    margin-left: 12px;
}

.form {                                                         /*форма в которой все находится*/
	   width: 360px;
       height: 325px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-55%);
       background-attachment:fixed;
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       text-align: center;
       border-radius: 25px;
       background-color: rgba(0, 0, 0, 0.418);
       box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.form__field {
	   margin-bottom: 10px;
}

.form__error {                                                  /*предупреждение об ошибке*/
	  color: red;
	  text-align: left;
	  font-size: 15px;
	  display: block;
	  margin-top: 3px;
	  display: none;
      padding: 0 0 0 20px;
}

.form input {                                                   /*Кнопочки*/
       width: 50%;
       background-color: rgba(0, 0, 0, 0.384);
       display: block;
       margin: 20px auto;
       padding: 10px;
       text-align: center;
       border: 3px solid rgb(159, 133, 160);
       outline: none;
       color: rgb(230, 230, 230);
       transition: 0.25s;
       border-radius: 10px;
       transition: 0.40s;
    
}
.form input:focus {
       border: 3px solid #da7619;                             /*Эффекты при нажатии*/
}


.supmit {                                                       /*отдельно кнопка отправить*/
       
       cursor: pointer;
       border: rgb(159, 159, 160);
}
.supmit:hover {                                                /*Эффекты для кнопки отправить*/
       border: 3px solid #8a18189c;
       background-color: #15ff6f25;
}

::-webkit-input-placeholder {color:#ffffff;}                  /*изменение цвета емейла и пароля*/




input:valid:not(:placeholder-shown) {                           /*инпут при положительной валидации*/
	   border-color: #0a9ef3;
}

input:invalid:not(:placeholder-shown) {                         /*инпут при отрицательной валидации*/
	border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {          /*высвечивание окна с предупреждением*/
	display: block;
}